.navbar {
	position: fixed;
}
.contact-form {
	margin-top: 30px;
}

.contact-form-section {
	margin-top: 100px;
	height: 100vh;
	background-color: #DFDCE3;
}


input {
	margin: 5px 0px;
	padding: 5px;
	width: 60%;
}

form label {
	display: block;
}


#myform {
	margin-left: 50px;
}

.get-in-touch {
	font-family: 'Playfair Display', serif;
	position: relative;
	width: 50%;
	left: 4%;
	padding-top: 30px;
}

.get-in-touch p {
	color: #000;
	font-size: 30px;
}

#message {
	padding: 15px 5px;
}
