* {
	margin: 0 0;
	font-family: 'Playfair Display', serif;
	border: ;
}

p {
	margin-bottom: 0;
}

/*............................................*/
/* Home-Page
/*............................................*/
#land-page {
	height: 100vh;
	background-image: linear-gradient(rgba(26, 96, 252, 0.49),rgba(12, 44, 8, 0.38) ), url(img/circle-tour.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#slogan-home {
	position: relative;
	top: 30%;
	left: 40%;
	width: 50%;
	font-size: 40px;
	color:#DFDCE3;
}

header {
	height: 100vh;
}

.logo {
	margin:0;
	padding: 0;
}

.logo-white{
	display: none;
}
.navbar {
	position: ;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;
	background-color: #4ABDAC ;
}

.navbar-nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items:flex-end;
	width: 40%;
	left: 60%;
}

.nav-item a{
	position: relative;
	list-style: none;
	color: white;
	margin-left: 20px;
}


nav-link, nav-link {
    font-family: 'Playfair Display', serif;
	text-transform: ;
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	font-family: ;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
	
}

/* Sticky navi */

.sticky {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.98);	
}


.sticky .logo-green {
	display: none;
}

.sticky .logo-white {
	display: block;
}

.sticky .nav-item a {
	color: black;
}

.sticky .navbar-nav {left: 60%}



/*............................................*/
/* Animations
/*............................................*/

.animate__animated.animate__zoomIn {
  --animate-duration: 1s;
}

.js--wp-1, js--wp-2 {
	opacity: 0;
	animation-duration: 1s;
}

.js--wp-1.animated {
	opacity: 1;
}


.travel-info-options {
	margin-left: 110px;
}

.travel-info-options a {
	margin-top: 10px;
	text-decoration: none;
	display: block;

}







/*............................................*/
/* About
/*............................................*/

.about {
	height: 50vh;
    background-color:  #4ABDAC  ;
	background-size: cover;
	background-repeat: no-repeat;
    
}

.heading  {
	padding-top: 30px;
	font-size: 50px;
	position: relative;
	color:#000 ;
	font-family: 'Playfair Display', serif;
}

.heading-2 {
	padding-top: 30px;
	font-size: 20px;
	position: relative;
	color:#000 ;
	font-family: 'Playfair Display', serif;
	display: block;
}

.heading h1 {
	color:#000 ;
	font-family: 'Playfair Display', serif;
}

.tail-tours-about {
	text-align: center;
	padding: 20px 100px;
	color: #DFDCE3;
	font-weight: 900;
}

.slogan {
	color: #F7B733;
	font-size: 12px;
	letter-spacing: 5px;
	font-weight: 900;
}

#slogan-about {
	margin: 0px;
}

.tail-tours-about-script {
	padding: 20px 100px;
	position: relative;
	font-size: 14px;
}

/*............................................*/
/* Featured Tours
/*............................................*/

.featured-tours {
    height: 100vh;
	color: #919191;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color:  #DFDCE3 ;
	
}

.featured-heading  {
	font-size: 50px;
	position: relative;
	color:#000 ;
	font-family: 'Playfair Display', serif;
}

.featured-heading-2 {
	font-size: 35px;
	position: relative;
	color:#000 ;
	font-family: 'Playfair Display', serif;
	display: none;
}

.featured-tours-header {
	position: relative;
	left: 30%;	
}

#adventure-slogan {
	position: relative;
	margin-left: 50px;
	left: 3%;
	margin-top: 0;
	padding-top: 0;
	color:  #4ABDAC ;
	
}

.featured {
	margin-top: 40px;
	font-family: "Montserrat", Sans-serif;
}

.feature-container {
	margin-top: 10px;
}

.feature-name {
	color: #4ABDAC;
	font-size: 35px;
	font-family: 'Playfair Display', serif;
}

.zambia-feature {
	float: right;
	padding: 20px;
	width: 30%;
}

.vic-falls-feature {
	float: right;
	padding: 20px;
	width: 30%;
}

.description {
	width: 100%;
	height: 10%;
	font-size: 13px;
}

.more-tours-button a {
	text-decoration: none;
	color: #DFDCE3;
}

.more-tours-button {
	background-color: #F7B733;
	font-family: "Montserrat", Sans-serif;
	color: #DFDCE3;
	width: 120px;
    font-size: 13px;
	padding: 10px;
	margin-top: 10px;
    border-width: 2px 2px 2px 2px;
    border-radius: 20px 20px 20px 20px;
}

.more-tours-button:hover {
	background-color: #4ABDAC;
	color: #DFDCE3;
}

/* Footer */

footer {
   
	height: 20vh;
	width: 100%;
	display: flex;
	justify-content:;
	align-items: center;
	background-color: black;

	
}

footer ul {
	position: relative;
	display: flex;
	width: 100%;
	
}

footer ul li {
    
	position: relative;
	list-style: none;
	color: #fff;
}

footer ul li a {
	
	text-decoration: none;
	margin: 0 100px;
	color: #fff;
}


.toggler-color {
	color: black
}



